

.container{
    width: 200px;
    height: 150px;
    border: 1px solid;
    position: relative;
    left: 250px;
    text-align: center;
    background-color: aquamarine;
    box-shadow: inset 5px 5px 10px black;
    display: none;

}

section{
    margin: 200px auto;
    position: relative;
    left: 400px;
}